{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card color-primary" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Commandes</h5>
                        <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span></span></h2>
                        <p class="m-b-0">Completed Orders<span class="f-right"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card color-primary" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Chaussures</h5>
                        <h2 class="text-right"><i class="fad fa-boot"></i><span>  </span></h2>
                        <p class="m-b-0">Completed Orders<span class="f-right"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card color-primary" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Utilsateurs</h5>
                        <h2 class="text-right"><i class="fas fa-users"> </i><span>  </span></h2>
                        <p class="m-b-0">Completed Orders<span class="f-right"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card color-primary" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Marques</h5>
                        <h2 class="text-right"><i class="fas fa-copyright"></i><span>  </span></h2>
                        <p class="m-b-0">Completed Orders<span class="f-right"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}