<footer class="page-footer font-small unique-color-dark">

    <div class="bg-primary">
        <div class="container">

            <div class="row py-5 d-flex align-items-center">

                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 text-white">Suivez nous dans les réseau sociaux</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <a class="fb-ic">

                        <i class="fab fa-facebook text-white mr-4"> </i>
                    </a>
                    <a class="tw-ic">

                        <i class="fab fa-twitter-square text-white mr-4"> </i>
                    </a>
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g text-white mr-4"> </i>
                    </a>
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in text-white mr-4"> </i>
                    </a>
                    <a class="ins-ic">
                        <i class="fab fa-instagram text-white"> </i>
                    </a>

                </div>
            </div>

        </div>
    </div>

    <div class="text-center text-md-left mt-5">

        <div class="row mt-3 w-100">

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-primary">Matanga Shop</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto text-primary w60px"/>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor
                    sit amet,
                    consectetur
                    adipisicing elit.</p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mb-4">

                <h6 class="text-uppercase font-weight-bold text-primary">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto w60px"/>
                <p>
                    <a href="#">Homme</a>
                </p>
                <p>
                    <a href="#">Femmes</a>
                </p>
                <p>
                    <a href="#">Enfants</a>
                </p>
                <p>
                    <a href="#">Nouveautés</a>
                </p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold text-primary">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto w60px"/>
                <p>
                    <a href="#">Mon Compte</a>
                </p>
                <p>
                    <a href="#">Boutique</a>
                </p>
                <p>
                    <a href="#">Partager</a>
                </p>
                <p>
                    <a href="#">Help</a>
                </p>

            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold text-primary">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto w60px"/>
                <p>
                    <i class="fas fa-home mr-3"></i> 12 Rue de la convention</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> contact@matanga.fr</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 33 7 58 10 87 40</p>
                <p><i class="fas fa-print mr-3"></i> + 33 7 58 10 87 40</p>

            </div>

        </div>

    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> matanga.fr</a>
    </div>

</footer>
