{% extends 'admin/base.html.twig' %}

{% block title %}Edit Shoe{% endblock %}

{% block body %}
    <h1>Edit Shoe</h1>

    {{ include('admin/shoe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_shoe_index') }}">back to list</a>

    {{ include('admin/shoe/_delete_form.html.twig') }}
{% endblock %}
