{% extends 'admin/base.html.twig' %}

{% block title %}New Shoe{% endblock %}

{% block body %}
    <h1>Create new Shoe</h1>

    {{ include('admin/shoe/_form.html.twig') }}

    <a href="{{ path('admin_shoe_index') }}">back to list</a>
{% endblock %}
